<footer class="footer">
	<small>
		Project Manager in RoR by 
		<a href="http://alexandrehtb.me/">Alexandre</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",    about_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
			<li><%= link_to "News",     '#' %></li>
		</ul>
	</nav>
</footer>